@model BTL.Models.info

@{
    ViewBag.Title = "Details";
    Layout = null;
    var img = Model.img;
    if (img == null || img == "")
    {
        if (Model.gender == true)
        {
            img = "male.jpeg";
        }
        else
        {
            img = "female.jpeg";
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="~/Content/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/admin/vendors/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/admin/css/vertical-layout-light/style.css">
    <style>
        html {
            font-size: 16px;
        }

        body {
            background: #f5f7ff;
        }

        .rounded-circle {
            border-radius: 100%;
        }

        .font-weight-bold {
            font-weight: bold;
        }

        .card.container {
            margin: 0px auto;
        }
        .field-icon {
            float: right;
            margin-left: -25px;
            margin-top: -30px;
            position: relative;
            z-index: 2;
        }
        .img{
            background:url('/images/@img');
            background-size:cover;
            width:150px;
            height:150px;
            border-radius:100%;
            object-fit:cover;
        }
        #img-file{
            display:none;
        }
    </style>
</head>
<body>
    <div class="card container">
        <div class="card-body">
            <div class="container rounded mt-5 mb-5">
                <form action="/profile/edit" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="id" value="@Model.id" />
                    <div class="row">
                        <div class="col-md-4 border-right">
                            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                <label for="img-file" class="rounded-circle mt-5 img"></label>
                                <input type="file" name="img-file" id="img-file" value="" />
                                <input type="text" name="email" id="email" class="font-weight-bold" value="@Model.email" readonly />
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="p-3 py-5">
                                <div class="row mt-2">
                                    <div class="col-md-6"><label class="labels">Tên</label><input type="text" name="name" id="name" class="form-control" value="@Model.name"readonly></div>
                                    <div class="col-md-6"><label class="labels">Họ</label><input type="text" name="lastname" id="lastname" class="form-control" value="@Model.lastname"readonly></div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-12"><label class="labels">Mật khẩu</label><input type="password" class="form-control" value="@Model.password" readonly id="password"> <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span></div>
                                    <div class="col-md-12"><label class="labels">Giới tính</label><input type="text" class="form-control" value="@if (Model.gender) {<text>Nam</text>} else {<text>Nữ</text>} " readonly></div>
                                    <div class="col-md-12"><label class="labels">Ngày sinh</label><input type="text" name="birthday" id="birthday" class="form-control" value="@Model.birthday.ToString("dd/MM/yyyy")" readonly></div>
                                    <div class="col-md-12"><label class="labels">Địa chỉ</label><input type="text" name="address" id="address" class="form-control" value="@Model.address" readonly></div>
                                    @if (Model.role.rolename.Equals("JOURNALIST"))
                                    {
                                        <div class="col-md-12"><label class="labels">Số năm kinh nghiệm</label><input type="text" class="form-control" value="@Model.journalists.First().workExperience" readonly></div>
                                        <div class="col-md-12"><label class="labels">Lương</label><input type="text" class="form-control" value="@Model.journalists.First().salary" readonly></div>
                                    }
                                    <div class="col-md-12"><label class="labels">Ngày tham gia</label><input type="text" class="form-control" value="@Model.createAt.ToString()" readonly></div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mt-5 text-center">
                                <a class="btn btn-primary profile-button" href="/profile/edit">Sửa thông tin</a>
                                @if (Model.role.rolename.Equals("ADMIN"))
                                {
                                    <a class="btn btn-secondary profile-button" href="/admin">Trở về</a>
                                }
                                else
                                {
                                    <a class="btn btn-secondary profile-button" href="/">Trở về</a>
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="~/Content/jquery-3.6.0.min.js"></script>
<script>
    $(".toggle-password").click(function () {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $("#password");
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
</html>

