@model IEnumerable<BTL.Models.info>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="card">
    <div class="card-body">
        <table class="table">
            @Html.AntiForgeryToken()
            <thead>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.img)
            </th>
            <th></th>
            </thead>

            @foreach (var item in Model)
            {
                var img = item.img;
                if (img == null)
                {
                    if (item.gender == true)
                    {
                        img = "male.jpeg";
                    }
                    else
                    {
                        img = "female.jpeg";
                    }
                }
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastname)
                    </td>
                    <td>
                        @if (item.gender == true)
                        {
                            <text>Nam</text>
                        }
                        else
                        {
                            <text>Nữ</text>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        <img src="~/images/@img" alt="" />
                    </td>
                    <td>
                        <a class="func-link edit-link" href="/info/edit/@item.id"><i data-toggle="tooltip" data-placement="top" title="sửa thông tin" class="fas fa-edit func-icon"></i></a>
                        <a class="func-link details-link" href="/reader/details/@item.id"><i data-toggle="tooltip" data-placement="top" title="xem chi tiết" class="fas fa-ellipsis-v func-icon"></i></a>
                        <a class="func-link delete-link" href="#"><i index="@item.id" data-toggle="tooltip" data-placement="top" title="xóa bạn đọc" class="fas fa-trash-alt func-icon reader-remove"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


