@model IEnumerable<BTL.Models.comment>
@using BTL.Models
@{
    Layout = null;
}

<div class="comment-section">
    <h3>Ý kiến (@Model.Count())</h3>
    <div class="form-container">
        <form action="" method="post">
            <textarea class="form-control textarea" type="textarea" name="comment" id="comment" @if (Session["USER"] == null) { <text> placeholder="Vui lòng đăng nhập..." disabled</text> }else {<text>placeholder="Ý kiến của bạn..." </text> }></textarea>
            <input type="button" name="submit" id="comment-submit" class="btn btn-primary" value="Gửi" disabled="true" />
        </form>
    </div>
    <div class="list-comment">
        @foreach (var i in Model)
        {
            var time = DateTime.Now - i.createAt;
            var displayTime = "";
            if (time.Days == 0)
            {
                if (time.Hours == 0)
                {
                    displayTime = (int)time.TotalMinutes + " phút trước";
                }
                else
                {
                    displayTime = (int)time.TotalHours + " giờ trước";
                }
            }
            else
            {
                displayTime = (int)time.TotalDays + " ngày trước";
            }
            var img = i.info.img;
            if (img == null || img == "")
            {
                if (i.info.gender == true)
                {
                    img = "male.jpeg";
                }
                else
                {
                    img = "female.jpeg";
                }
            }
        <div class="content-comment">
            <div class="user">
                <img src="~/images/@img" alt="" />
            </div>
            <div>
                <p class="full-comment"><strong>@i.info.lastname @i.info.name: </strong><span>@i.description</span></p>
                <p>@displayTime</p>
            </div>
            <div>
                @if (Session["USER"] != null)
                {
                    if (((info)Session["USER"]).id == i.infoId || ((info)Session["USER"]).role.rolename.Equals("ADMIN"))
                    {
                        <a href="#" id="comment-option"  data-toggle="dropdown"><i  class="fas fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="comment-option">
                            <a class="dropdown-item comment-modified" index="@i.id" href="javascript:void(0)">
                                Chỉnh sửa
                            </a>
                            <a class="dropdown-item comment-delete" index="@i.id" href="javascript:void(0)">
                                Xóa
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
        }
    </div>
</div>