@model BTL.Models.article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div class="card">
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                Thể loại
            </dt>

            <dd>
                @Html.DisplayFor(model => model.category.name)
            </dd>

            <dt>
                Tên tác giả
            </dt>

            <dd>
                @Html.DisplayFor(model => model.journalist.name)
            </dd>

            <dt>
                Tiêu đề
            </dt>

            <dd>
                @Html.DisplayFor(model => model.title)
            </dd>

            <dt>
                Lượt xem
            </dt>

            <dd>
                @Html.DisplayFor(model => model.totalView)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.thumbnail)
            </dt>

            <dd>
                <img src="https://@Model.thumbnail" alt="Alternate Text" />
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.createAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.createAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.updateAt)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.updateAt)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>



        </dl>
    </div>
</div>

