@model BTL.Models.article

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Edit</h2>

<form action="/articles/edit" method="post" id="form-article" enctype="multipart/form-data">

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <div class="form-group">
            <div class="col-md-10">
                <input type="hidden" name="journalistId" id="journalistId" value="@Model.journalistId" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.categoryId, "categoryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("categoryId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.categoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="keyword">KeyWord</label>
            <div class="col-md-10">
                <select class="form-control select-keyword" name="keywords" id="keyword-edit" multiple="multiple">
                    @*@foreach (var i in Model.keywords)
                    {
                        <option value="@i.id">@i.name</option>
                    }*@
                </select>
                <input type="hidden" name="keyword" id="keywordSubmit" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.thumbnail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <label class="file-upload-browse btn btn-primary" for="img-file" style="cursor:pointer">Chọn file ảnh</label>
                <input type="file" name="img-file" id="img-file" style="display:none !important;" accept="image/*" />
                <img id="preview" src="~/images/@Model.thumbnail" width="200" height="100" />
                <script>$('#preview').show()</script>
            </div>
        </div>

        <dd class="detail">
            <div id="toolbar-container"></div>
            <div id="editor"></div>
            <input type="hidden" name="description" id="description" />
            <script>
                $(document).ready(function () {
                    var content = b64_to_utf8("@(Model.description)");
                    editors.setData(content);
                    @foreach(var i in Model.keywords)
                    {
                        <text>
                            var $newOption = $("<option selected='selected'></option>").val("@i.id").text('@Html.Raw(@i.name)')

                            $("#keyword-edit").append($newOption);
                        </text>
                    }
                })
            </script>
        </dd>


        <div class="form-group">
            <div class="col-md-6">
                <button type="button" value="Save" class="btn btn-dark btn-icon-text" id="submit-edit">
                    Edit
                    <i class="ti-file btn-icon-append"></i>
                </button>
                <a href="/articles" class="btn btn-primary">Back</a>
            </div>
        </div>

    </div>




</form>

    