@model IEnumerable<BTL.Models.article>

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>@ViewBag.title</h2>

<div class="card">
    <div class="card-body">

        <table class="table table-hover">
            <thead>
                <th>
                    ID
                </th>
                <th>
                    Tác giả
                </th>
                <th>
                    Tiêu đề
                </th>
                <th>
                    Ảnh
                </th>
                <th>
                    Ngày tạo
                </th>
                <th></th>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.journalist.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        <img src="Http://@item.thumbnail" alt="" />
                    </td>
                    <td>
                        @item.createAt.Date.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        <a class="func-link edit-link" href="/articles/edit/@item.id"><i class="fas fa-edit func-icon"></i></a>
                        <a class="func-link details-link" href="/articles/details/@item.id"><i class="fas fa-ellipsis-v func-icon"></i></a>
                        <a class="func-link delete-link" href="/articles/delete/@item.id"><i class="fas fa-trash-alt func-icon"></i></a>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>