@model IEnumerable<BTL.Models.article>

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>@ViewBag.title</h2>
@Html.AntiForgeryToken()
<div class="card">
    <div class="card-body">

        <table class="table table-hover">
            <thead>
            <th>
                ID
            </th>
            <th>
                Tác giả
            </th>
            <th>
                Tiêu đề
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                <a class="btn-icon" href="/articles/create"><i title="Thêm bài viết" class="fa-plus-circle fas"></i></a>
            </th>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.info.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.title)
                    </td>
                    <td>
                        <img src="~/images/@item.thumbnail" alt="" />
                    </td>
                    <td>
                        @item.createAt.Date.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        <a class="func-link edit-link" href="/articles/edit/@item.id"><i class="fas fa-edit func-icon"></i></a>
                        <a class="func-link details-link" href="/articles/details/@item.id"><i class="fas fa-ellipsis-v func-icon"></i></a>
                        <a class="func-link delete-link article-remove" index="@item.id" href="#"><i class="fas fa-trash-alt func-icon"></i></a>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>

<div class="modal fade" id="ModalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary confirm-delete">Xóa</button>
            </div>
        </div>
    </div>
</div>