@model IEnumerable<BTL.Models.journalist>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Nhà Báo</h2>
<div class="card">
    <div class="card-body">

        <table class="table table-hover">
            <thead>
            <th>
                kinh nghiệm
            </th>
            <th>
                Email
            </th>
            <th>
                Tên
            </th>
            <th>
                Họ đệm
            </th>
            <th>
                Giới tính
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Ảnh
            </th>
            <th>
                Lương (USD)
            </th>
            <th></th>
            </thead>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.workExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @if (item.gender == true)
                {
                    <text>Nam</text>
                }
                else
                {
                    <text>Nữ</text>
                }
            </td>
            <td>
                @item.birthday.Date.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salary)
            </td>
            <td>
                <a class="func-link edit-link" href="/articles/edit/@item.id"><i class="fas fa-edit func-icon"></i></a>
                <a class="func-link details-link" href="/articles/details/@item.id"><i class="fas fa-ellipsis-v func-icon"></i></a>
                <a class="func-link delete-link" href="/articles/delete/@item.id"><i class="fas fa-trash-alt func-icon"></i></a>
            </td>
        </tr>
            }

        </table>

    </div>
</div>

