@model IEnumerable<BTL.Models.user>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Bạn đọc</h2>

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.img)
            </th>
            <th>
                <a class="btn-icon" href="/users/create"><i class="fas fa-plus-circle"></i></a>
            </th>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.birthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.img)
                    </td>
                    <td>
                        <a class="func-link edit-link" href="/users/edit/@item.id"><i class="fas fa-edit func-icon"></i></a>
                        <a class="func-link details-link" href="/users/details/@item.id"><i class="fas fa-ellipsis-v func-icon"></i></a>
                        <a class="func-link delete-link" href="/users/delete/@item.id"><i class="fas fa-trash-alt func-icon"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
